@define-color BG #282a36;
@define-color CL #44475a;
@define-color FG #f8f8f2;
@define-color CM #6272a4;
@define-color CYA #8be9fd;
@define-color GRE #50fa7b;
@define-color ORA #ffb86c;
@define-color PIN #ff79c6;
@define-color PUR #bd93f9;
@define-color RED #ff5555;
@define-color YEL #f1fa8c;

*{
  font-size: 14px;
  font-family: "JetBrainsMono Nerd Font Mono";
  font-weight: bold;
  border-radius: 2;
}

#bar {
  background-color: @BG;
}

#volumein {
  color: @PIN;
  margin-right: 10px;
}

#volumeout {
  color: @GRE;
  margin-right: 10px;
}

.workspaces .item.focused {
    box-shadow: inset 0 -3px;
    color: @GRE;
}

.tray {
  background-color: @CL;
}
