// This config is in the KDL format: https://kdl.dev
// "/-" comments out the following node.
// Check the wiki for a full description of the configuration:
// https://yalter.github.io/niri/Configuration:-Introduction

input {
    keyboard {
        xkb {
            layout "cz"
            // options "grp:win_space_toggle,compose:ralt,ctrl:nocaps"
        }
        numlock
    }
    touchpad {
        // off
        tap
        // dwt
        // dwtp
        // drag false
        // drag-lock
        natural-scroll
        // accel-speed 0.2
        // accel-profile "flat"
        // scroll-method "two-finger"
        // disabled-on-external-mouse
    }
    mouse {
        // off
        // natural-scroll
        // accel-speed 0.2
        // accel-profile "flat"
        // scroll-method "no-scroll"
    }
    trackpoint {
        off
    }
    trackball {
        // off
    }
    // warp-mouse-to-focus

    focus-follows-mouse
    // Setting max-scroll-amount="0%" makes it work only on windows already fully on screen.
    // focus-follows-mouse max-scroll-amount="0%"
}

// You can configure outputs by their name, which you can find
// by running `niri msg outputs` while inside a niri instance.
output "HDMI-A-1" {
    // off
    mode "1920x1080@100.003"
    scale 1
    transform "normal"
    position x=0 y=360
    background-color "#282a36"
    backdrop-color "#282a36"
    hot-corners {
        off
    }
}
output "DP-1" {
    // off
    mode "3440x1440@240.085"
    scale 1
    transform "normal"
    position x=1920 y=0
    variable-refresh-rate on-demand=true
    focus-at-startup
    background-color "#282a36"
    backdrop-color "#282a36"
    hot-corners {
        off
    }
}
output "DP-3" {
    // off
    mode "1920x1080@100.003"
    scale 1
    transform "normal"
    position x=5360 y=360
    background-color "#282a36"
    backdrop-color "#282a36"
    hot-corners {
        off
    }
}
layout {
    gaps 5
    // When to center a column when changing focus, options are:
    // - "never", default behavior, focusing an off-screen column will keep at the left
    //   or right edge of the screen.
    // - "always", the focused column will always be centered.
    // - "on-overflow", focusing a column will center it if it doesn't fit
    //   together with the previously focused column.
    center-focused-column "never"
    // You can customize the widths that "switch-preset-column-width" (Mod+G) toggles between.
    preset-column-widths {
        proportion 0.33333
        proportion 0.5
        proportion 0.66667
        proportion 1.0
    }
    // You can also customize the heights that "switch-preset-window-height" (Mod+Shift+R) toggles between.
    preset-window-heights {
        proportion 0.33333
        proportion 0.5
        proportion 0.66667
        proportion 1.0
    }

    // If you leave the brackets empty, the windows themselves will decide their initial width.
    default-column-width { proportion 0.5; }

    // You can change how the focus ring looks.
    focus-ring {
        off
        width 4
        active-color "#7fc8ff"
        inactive-color "#505050"
        // active-gradient from="#80c8ff" to="#c7ff7f" angle=45
        // inactive-gradient from="#505050" to="#808080" angle=45 relative-to="workspace-view"
    }
    border {
        // off
        width 2
        // active-color "#ffc87f"
        // inactive-color "#6272a4"
        // urgent-color "#9b0000"
        active-gradient from="#bd93f9" to="#50fa7b" angle=45 in="oklch longer hue"
        inactive-gradient from="#6272a4" to="#44475a" angle=45
        urgent-gradient from="#ff5555" to="#f1fa8c" angle=45
    }
    shadow {
        // on
        // draw-behind-window true
        softness 30
        spread 5
        offset x=0 y=5
        color "#0007"
    }

    tab-indicator {
        on
        place-within-column
        width 2
        active-color "#50fa7b"
        urgent-color "#ff5555"
        inactive-color "#6272a4"
    }

    struts {
        // left 64
        // right 64
        // top 64
        // bottom 64
    }
}

spawn-sh-at-startup "dms run -d"
// spawn-sh-at-startup "/usr/lib/polkit-kde-authentication-agent-1"
spawn-sh-at-startup "steam -silent"
spawn-sh-at-startup "com.discordapp.Discord"
spawn-sh-at-startup "solaar --window=hide"

hotkey-overlay {
    skip-at-startup
}

overview {
    zoom 0.5
    backdrop-color "#282a36"
}

prefer-no-csd

screenshot-path "~/Pictures/Screenshots/Screenshot from %Y-%m-%d %H-%M-%S.png"
// You can also set this to null to disable saving screenshots to disk.
// screenshot-path null

animations {
    // off
    // slowdown 3.0
}

window-rule {
    match app-id=r#"firefox$"# title="^Picture-in-Picture$"
    open-floating true
}

/-window-rule {
    match app-id=r#"^org\.keepassxc\.KeePassXC$"#
    match app-id=r#"^org\.gnome\.World\.Secrets$"#
    block-out-from "screen-capture"
    // Use this instead if you want them visible on third-party screenshot tools.
    // block-out-from "screencast"
}

binds {
    // Mod+Shift+N { show-hotkey-overlay; }

    Mod+Return hotkey-overlay-title="Open a Terminal: wezterm" { spawn "wezterm"; }
    Mod+R hotkey-overlay-title="DMS Spotlight" { spawn-sh "dms ipc spotlight toggle"; }
    Mod+W hotkey-overlay-title="DMS Powermenu" { spawn-sh "dms ipc powermenu toggle"; }
    Mod+E hotkey-overlay-title="Open Cosmic Files" { spawn "cosmic-files"; }
    Mod+B hotkey-overlay-title="Open Zen browser" { spawn "app.zen_browser.zen"; }

    XF86AudioRaiseVolume allow-when-locked=true { spawn-sh "wpctl set-volume @DEFAULT_AUDIO_SINK@ 0.05+ -l 1.0"; }
    XF86AudioLowerVolume allow-when-locked=true { spawn-sh "wpctl set-volume @DEFAULT_AUDIO_SINK@ 0.05-"; }
    XF86AudioMute        allow-when-locked=true { spawn-sh "wpctl set-mute @DEFAULT_AUDIO_SINK@ toggle"; }
    XF86AudioMicMute     allow-when-locked=true { spawn-sh "wpctl set-mute @DEFAULT_AUDIO_SOURCE@ toggle"; }

    Mod+O repeat=false { toggle-overview; }

    Mod+Q repeat=false { close-window; }

    //
    // Focus
    //
    Mod+H     { focus-column-left; }
    Mod+J     { focus-window-or-workspace-down; }
    Mod+K     { focus-window-or-workspace-up; }
    Mod+L     { focus-column-right; }
    // Mod+Home  { focus-column-first; }
    // Mod+End   { focus-column-last; }

    Mod+N     { focus-monitor-left; }
    Mod+P     { focus-monitor-right; }

    Mod+WheelScrollDown      cooldown-ms=150 { focus-workspace-down; }
    Mod+WheelScrollUp        cooldown-ms=150 { focus-workspace-up; }

    Mod+plus { focus-workspace 1; }
    Mod+ecaron { focus-workspace 2; }
    Mod+scaron { focus-workspace 3; }
    Mod+ccaron { focus-workspace 4; }
    Mod+rcaron { focus-workspace 5; }
    Mod+zcaron { focus-workspace 6; }
    Mod+yacute { focus-workspace 7; }
    Mod+aacute { focus-workspace 8; }
    Mod+iacute { focus-workspace 9; }
    Mod+eacute { focus-workspace 10; }

    Mod+Tab { focus-workspace-previous; }

    //
    // Move window
    //
    Mod+Shift+M     { move-window-down-or-to-workspace-down; }
    Mod+Shift+U     { move-window-up-or-to-workspace-up; }
    // Mod+Shift+Ctrl+Left  { move-window-to-monitor-left; }
    // Mod+Shift+Ctrl+Left  { move-window-to-monitor-right; }

    Mod+Comma  { consume-or-expel-window-left; }
    Mod+Period { consume-or-expel-window-right; }

    //
    // Move column
    //
    Mod+Shift+H     { move-column-left; }
    Mod+Shift+J     { move-column-to-workspace-down; }
    Mod+Shift+K     { move-column-to-workspace-up; }
    Mod+Shift+L     { move-column-right; }

    // Mod+Ctrl+Home { move-column-to-first; }
    // Mod+Ctrl+End  { move-column-to-last; }

    Mod+Shift+N     { move-column-to-monitor-left; }
    Mod+Shift+P     { move-column-to-monitor-right; }

    Mod+Shift+plus { move-column-to-workspace 1; }
    Mod+Shift+ecaron{ move-column-to-workspace 2; }
    Mod+Shift+scaron{ move-column-to-workspace 3; }
    Mod+Shift+ccaron{ move-column-to-workspace 4; }
    Mod+Shift+rcaron{ move-column-to-workspace 5; }
    Mod+Shift+zcaron{ move-column-to-workspace 6; }
    Mod+Shift+yacute{ move-column-to-workspace 7; }
    Mod+Shift+aacute{ move-column-to-workspace 8; }
    Mod+Shift+iacute{ move-column-to-workspace 9; }
    Mod+Shift+eacute{ move-column-to-workspace 10; }

    //
    // Move workspace
    //
    Mod+Ctrl+J  { move-workspace-down; }
    Mod+Ctrl+K  { move-workspace-up; }
    Mod+Ctrl+H  { move-workspace-to-monitor-left; }
    Mod+Ctrl+L  { move-workspace-to-monitor-right; }

    //
    // Other
    //
    Mod+D { switch-preset-column-width; }
    Mod+Shift+D { switch-preset-column-width-back; }
    Mod+S { switch-preset-window-height; }
    Mod+Shift+S { switch-preset-window-height-back; }
    Mod+Ctrl+S { reset-window-height; }

    Mod+F { fullscreen-window; }

    Mod+C { center-column; }

    Mod+Ctrl+C { center-visible-columns; }

    Mod+V       { toggle-window-floating; }
    Mod+Shift+V { switch-focus-between-floating-and-tiling; }

    Mod+T { toggle-column-tabbed-display; }

    Print { screenshot; }
    Ctrl+Print { screenshot-screen; }
    Alt+Print { screenshot-window; }

    // Applications such as remote-desktop clients and software KVM switches may
    // request that niri stops processing the keyboard shortcuts defined here
    // so they may, for example, forward the key presses as-is to a remote machine.
    // It's a good idea to bind an escape hatch to toggle the inhibitor,
    // so a buggy application can't hold your session hostage.
    //
    // The allow-inhibiting=false property can be applied to other binds as well,
    // which ensures niri always processes them, even when an inhibitor is active.
    Mod+Escape allow-inhibiting=false { toggle-keyboard-shortcuts-inhibit; }

    // The quit action will show a confirmation dialog to avoid accidental exits.
    Mod+Shift+E { quit; }
    Ctrl+Alt+Delete { quit; }
}
